{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Decision of the seller (Period {{ subsession.round_number }} of {{ Constants.num_rounds }})
{% endblock %}

{% block content %}
    <table class="table table-bordered">

        <tbody>
        <tr>
                <td>Your seller ID is:</td>
                <td> {{player.id_in_group}} </td>
        </tr>
            <tr>
                <td>The package you are going to sell is:</td>
                <td> {{player.get_seller_package_display}} </td>
            </tr>
            <tr>
                <td>The cost of this package is: </td>
                <td> {{player.seller_valuation |c}}</td>
            </tr>
            <tr>
                <td>Please set the price at which you want to sell this package in the following box: <br>
                Remember that for you to make a profit you must sell the package at a higher price than its cost.</td>
                <td><div class = "form-inline"> {{ form.ask_price_ini}} &nbsp; ECU</div></td>
            </tr>
            <tr>
                <td>Would you like to see the complete list of offers in the package market, including prices? <br>
                    This action will cost you {{Constants.see_list_cost}} that will be deducted from your initial endowment. </td>
                <td>{{ form.see_list }}</td>

            </tr>
        </tbody>
    </table>


    <p>Please click on the "Next" button to see the complete list of offers and prices in the market and to define the
        final price of the package you are going to sell.</p>

    {% next_button %}
{% endblock %}
