{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    SUMMARY
{% endblock %}

{% block content %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" colspan="2">Results from the activity</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>The trading round sorted for payment was:</td>
                <td>{{ paying_round }}</td>
            </tr>
            <tr>
                <td>Your payoff (including the initial endowment of {{ endowment }} ECU) is:</td>
                <td>{{ payoff_final }}</td>
            </tr>
        </tbody>
    </table>

    <p>
    Please click on the "Next" button to continue with the questionnaire.
    </p>

    {% next_button %}
{% endblock %}


{% block styles  %}
{% endblock %}

