{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    {% if player.role == "seller" %}
        Decision of the seller (Period {{ subsession.round_number }} of {{ Constants.num_rounds }})
    {% else %}
        Decision of the buyer (Period {{ subsession.round_number }} of {{ Constants.num_rounds }})
    {% endif %}
{% endblock %}

{% block content %}
    {% if player.role == "seller" %}
    <p>You were assigned to the role of seller. Remember that you will keep this role during the 5 trading rounds. You
        will be able to sell only one package per trading round. The computer will randomly assign you one of the 5
        available packages for you to sell in the market. Keep in mind that other sellers may sell the same package as
        you. Additionally, you will be given a "value" of that package. This value represents the cost you would incur
        if you were to close a transaction.</p>

    <p>Keep in mind that the costs are private, that is, only you know this number. Neither the other sellers nor the
        buyers know this information. In total there are 5 types of tourist packages whose only difference will be the
        destination: Berlin, Madrid, Vienna, Paris and Rome. You will only receive one of these and its respective
        cost.</p>

    <p>You will have to fix a price for the package that was assigned to you. This price must be higher than the cost
        of the package. Your earnings will be calculated as the difference between the price you set and the cost of the
        package. If you fail to complete a transaction, you will not incur any costs, but you will not make any profit
        either. Think of it this way, let's suppose you have a chance to get the package in question, and if you manage.
        to sell it, you'll earn the difference. The cost is what you would have to pay to get the package. If the cost
        is 50 ECU and you manage to sell the package for 70 ECU, then your profit would be 20 ECU (plus the initial
        endowment of {{ Constants.endowment }} ECU). If you do not sell the package, your profit would be zero (plus the initial
        endowment of {{ Constants.endowment }} ECU), i.e. you would not incur in any costs and would not receive any income.</p>

    <p>Let's see another example:</p>

    <p>Suppose the cost of your package is 30 ECU and you manage to sell the package at a price of 50 ECU. You will then
        earn 50 ECU - 30 ECU = 20 ECU (plus the initial endowment of {{ Constants.endowment }} ECU). If you fail to
        close a transaction, you will not incur in any no cost nor profit, i.e. your profit will be 0 ECU (plus the initial
        endowment of {{ Constants.endowment }} ECU)</p>

    <p>It is important to note that two buyers can select the same offer, but only one of them will complete the
        transaction. The one who makes the decision to buy the package the fastest will be the one who completes the
        transaction with you.</p>

    <p>Additionally, you can choose a commercial practice to help make your package more attractive in the market. There
        are three commercial practices and if you use them, they will be visible to the buyer at the time of completing
        the transaction. However, keep in mind that any of these commercial practices can be used truthfully or
        untruthfully.</p>

    <p>Please click on the "Next" button to see the package you are going to sell and its cost </p>


    {% else %}
    <p>You were assigned to the role of buyer. Remember that you will keep this role during the 5 trading rounds.
        You will be able to buy only one package per trading round. The computer will give you a "value" for each of the
        packages you will find for sale in the market. This value represents how much you value that package if you were
        to close a transaction. In total there are 5 types of tourist packages whose only difference will be the
        destination: Berlin, Madrid, Vienna, Paris and Rome. You will only receive five values, one for each package.</p>

    <p>Please note that the values are private, i.e. only you know this numbers. Neither the other buyers nor the
        sellers know this information.</p>

    <p>You will be shown a list of all package offers in the market and their respective prices. To close a transaction,
        you must select one and only one of the packages in the market. Your earnings will be calculated as the
        difference between your valuation and the price at which you purchased the package. If you fail to complete a
        transaction, you won’t make any profit (plus the initial endowment of {{ Constants.endowment }} ECU). </p>

    <p>Think of it this way, suppose you have the ability to resell each of the five packages in question, and if you
        manage to get one, you will earn the difference. The value is what you would receive when you resell the
        package. If the value is 70 ECU and you manage to get the package at a price of 50 ECU, then your profit would be
        20 ECU (plus the initial endowment of {{ Constants.endowment }} ECU). If you do not succeed in buying the
        package, your profit would be zero, i.e. you would not pay any price and would not receive any income (except
    for the initial endowment of {{ Constants.endowment }} ECU).</p>

    <p>Let's see another example:</p>

    <p>Suppose that the value for the package you decide to buy is 50 ECU and you manage to buy the package at a price
        of 30 ECU. You will then earn 50 ECU - 30 ECU = 20 ECU  (plus the initial endowment of {{ Constants.endowment }} ECU).
        If you fail to close a transaction, you will not incur in any cost nor profit, i.e. your profit will be 0 ECU
      (plus the initial endowment of {{ Constants.endowment }} ECU).</p>

    <p>It is important to note that two buyers can select the same offer but only one of them will complete the
        transaction. The one who makes the decision to buy the package the fastest will be the one who completes the
        transaction.</p>

    <p>Additionally, notice that the sellers can choose a commercial practice to help make their packages more
        attractive in the market. There are three commercial practices and if a seller uses them, they will be visible
        to the buyer at the time of completing the transaction. However, keep in mind that any of these commercial
        practices can be used truthfully or untruthfully.</p>

    <p>There are three commercial practices available that buyers will be able to use to make their package more
        attractive to the market.</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Commercial Practice</th>
                <th scope="col">Definition</th>
                <th scope="col">Example</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Best Price Guarantee</th>
                <td>This commercial practice allows the seller to make the announcement that, among all packages with
                    the same
                    destination, this one has the lowest price.</td>
                <td>Suppose the seller offers the package to Rome. There may be other sellers in the market selling the
                    same
                    package to Rome, but if the seller opts for this commercial practice, the seller would be saying that, of all the
                    packages to Rome, hers/his is the cheapest.</td>
            </tr>
            <tr>
                <th scope="row">Reference Pricing</th>
                <td>This commercial practice allows the seller to make the announcement that between the first price the seller
                    proposed and the end, the seller offered a discount.</td>
                <td>Suppose the seller offers a package to Rome. The seller can claim that she/he made a discount between the first price
                    she/he bid of 60 ECU and the final (the one the seller confirmed after deciding whether or not to observe the
                    competition)</td>
            </tr>
            <tr>
                <th scope="row">Drip pricing</th>
                <td>This commercial practice allows the seller to display a price for the package she/he is bidding that is less
                    than the total price she/he is asking for it. The difference between the actual price and the price
                    the seller is displaying is equal to the cost for viewing the full list of packages (2 ECU), regardless
                    of whether the seller decided to pay this cost or not.</td>
                <td>Suppose the seller offers a package to Rome and the price the seller claims for this package is 80 ECU. If the seller
                    decides to use this commercial practice, the seller's offer will appear with a price of 78 ECU*, with a note
                    indicating the total price.</td>
        </tbody>
    </table>

    <p>Notice that these commercial practices can be used truthfully (case 1) or untruthfully (case 2). Using the
        examples in the table above, in the following table you will find each of the commercial practices and the
        examples for case 1 and case 2.</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Commercial Practice</th>
                <th scope="col">Case 1 (truthful)</th>
                <th scope="col">Case 2 (untruthful)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Best Price Guarantee</th>
                <td>1) When there is no other package to Rome. 2) When there exists at least another package to Rome
                    and the latter has a larger price.</td>
                <td>1) When there exists at least another package to Rome and the latter has a smaller price.</td>
            </tr>
            <tr>
                <th scope="row">Reference Pricing</th>
                <td>1) Use of the real discount.</td>
                <td>1) Use of the real discount plus 20 ECU</td>
            </tr>
            <tr>
                <th scope="row">Drip pricing</th>
                <td>1) When the seller shows the price minus the cost to see the first offer of the other sellers.</td>
                <td>1) When the seller decides not to see the prices of the competitors but still show the price net of this cost</td>
            </tr>
        </tbody>
    </table>

    <p>Remember that it is the seller’s decision whether or not to use any of these commercial practices.</p>

    <p>In the table below you can see what a bid would look like in the list of bids with each of the business practices
        whether the seller decided to use one of them.</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Commercial Practice</th>
                <th scope="col">Chosen</th>
                <th scope="col">Unchosen</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Best Price Guarantee</th>
                <td>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <h3 class="card-header">Rome</h3>
                        <div class="card-body text-dark">
                            <h5 class="card-title">80 ECU</h5>
                            <br>
                            <br>
                            <hr class="my-4">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Buy</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <h3 class="card-header">Rome</h3>
                        <div class="card-body text-dark">
                            <h5 class="card-title">80 ECU</h5>
                            <br>
                            <p class="card-text">Best price guaranteed</p>
                            <hr class="my-4">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Buy</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Reference Pricing</th>
                <td>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <h3 class="card-header">Rome</h3>
                        <div class="card-body text-dark">
                            <h5 class="card-title">80 ECU</h5>
                            <br>
                            <br>
                            <hr class="my-4">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Buy</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <h3 class="card-header">Rome</h3>
                        <div class="card-body text-dark">
                            <h5 class="card-title"><del> 100 ECU </del></h5>
                            <h5 class="card-title">80 ECU</h5>
                            <br>
                            <hr class="my-4">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Buy</a>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Drip pricing</th>
                <td>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <h3 class="card-header">Rome</h3>
                        <div class="card-body text-dark">
                            <h5 class="card-title">80 ECU</h5>
                            <br>
                            <br>
                            <hr class="my-4">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Buy</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        <h3 class="card-header">Rome</h3>
                        <div class="card-body text-dark">
                            <h5 class="card-title"> 78 ECU*</h5>
                            <br>
                            <br>
                            <hr class="my-4">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Buy</a>
                        </div>
                    </div>
                </td>
        </tbody>
    </table>

    <p>Please click on the "Next" button to know your private valuations of each of the packages, to see the list of
        offers, and to select at least one.</p>
    {% endif %}
<button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>

{% endblock %}