{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Decision of the seller ----- Seller (Period {{ subsession.round_number }} of {{ Constants.num_rounds }}))
{% endblock %}

{% block content %}

    <h2>This is Master's instructions</h2>
    {% if player.see_list == 1 %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Seller ID</th>
                <th scope="col">Package</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Rome</td>
                <td>100 ECU</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Berlin</td>
                <td>120 ECU</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Madrid</td>
                <td>80 ECU</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Madrid</td>
                <td>100 ECU</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Vienna</td>
                <td>110 ECU</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Paris</td>
                <td>130 ECU</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Vienna</td>
                <td>90 ECU</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Berlin</td>
                <td>100 ECU</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Berlin</td>
                <td>80 ECU</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Rome</td>
                <td>70 ECU</td>
            </tr>
        </tbody>
    </table>

    {% else %}
    {% endif %}
    <p>If you wish to change the initial price to your package, please write the final price in the box below: </p>

    <div class="form-inline"> XXX &nbsp; ECU </div>

    <br>

    <p>Once you have set up the final price please click on the "Next" button</p>

    {% next_button %}
{% endblock %}