{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Decision of the seller ----- Seller (Period {{ subsession.round_number }} of {{ Constants.num_rounds }}))
{% endblock %}

{% block content %}

    {% if player.see_list == 1 %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Seller ID</th>
                <th scope="col">Package</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
     {% if player.see_list == 1 %}
        {% for p in group.get_players %}
        {% if p.role == 'seller' %}
            <tr>
                <td> {{p.id_in_group}}</td>
                <td> {{p.seller_package}}</td>
                <td> {{p.ask_price_ini}}</td>
            </tr>
        {% endif %}
        {% endfor %}
    {% endif %}
        </tbody>
    </table>

    {% else %}
    {% endif %}

    <p>Your initial price was: {{player.ask_price_ini}} <br>
        If you wish to change the initial price to your package, please write the final price in the box below: {{ form.ask_price_fin }} </p>

    {% next_button %}
{% endblock %}
