{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Buyer (Period {{ subsession.round_number }} of {{ Constants.num_rounds }}))
{% endblock %}

{% block content %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Important title here</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Role</td>
                <td>{{ role }}</td>
            </tr>
            <tr>
                <td><b>Private valuations for packages<b/></td>
                <td></td>
            </tr>
            <tr>
                <td>Package 1</td>
                <td>{{ pac1 }}</td>
            </tr>
            <tr>
                <td>Package 2</td>
                <td>{{ pac2 }}</td>
            </tr>
            <tr>
                <td>Package 3</td>
                <td>{{ pac3 }}</td>
            </tr>
            <tr>
                <td>Package 4</td>
                <td>{{ pac4 }}</td>
            </tr>
            <tr>
                <td>Package 5</td>
                <td>{{ pac5 }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Market Post</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Supplier</td>
                <td>Package</td>
                <td>Price</td>
                <td>Purchase</td>
            </tr>
{%for p in group.get_players %}
    {% if p.role == "seller" %}
            <tr>
                <td>Seller {{p.seller_id}}</td>
                <td>{{p.seller_package}}</td>
                <td>{{p.ask_price_fin}}</td>
                <td><button name = "my_seller" value = {{p.id_in_group}} class = "btn btn-primary btn-large">Purchase
                    <input name="package_purchased" type="hidden" value={{p.seller_package}}> </input>
                    </button>
                </td>
            </tr>
{{ form.package_purchased.errors }}
    {% endif %}
{% endfor %}
        </tbody>
        </table>
 {{ form.my_seller.errors }}
    {% next_button %}

{% endblock %}
