{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Buyer P1
{% endblock %}

{% block content %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Important title here</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Role</td>
                <td>{{ player.role }}</td>
            </tr>
            <tr>
                <td><b>Private valuations for packages<b/></td>
                <td></td>
            </tr>
            <tr>
                <td>Package 1</td>
                <td>{{ paquete }}</td>
            </tr>
            <tr>
                <td>Package 2</td>
                <td>{{ buyer_valuation_pac2 }}</td>
            </tr>
            <tr>
                <td>Package 3</td>
                <td>{{ buyer_valuation_pac3 }}</td>
            </tr>
            <tr>
                <td>Package 4</td>
                <td>{{ buyer_valuation_pac4 }}</td>
            </tr>
            <tr>
                <td>Package 5</td>
                <td>{{ buyer_valuation_pac5 }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Market Post</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Supplier</td>
                <td>Package</td>
                <td>Price</td>
            </tr>
        </tbody>
    </table>


    {% next_button %}

{% endblock %}
