{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Seller page 2
{% endblock %}

{% block content %}

<table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Important title here</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pick a commercial practice from the following list</td>
                <td>{% formfield player.com_practice %}</td>
            </tr>
            <tr>
                <td>Set a final Ask-price</td>
                <td>{% formfield player.ask_price_fin %}</td>
            </tr>
     {% if player.see_list == 1 %}
        {% for p in group.get_players %}
        {% if p.role == 'seller' %}
            <tr>
                <td> Price from Player {{p.id_in_group}}</td>
                <td>{{p.ask_price_ini}}</td>
            </tr>
        {% endif %}
        {% endfor %}
    {% endif %}
        </tbody>
        </table>
    {% next_button %}
{% endblock %}