{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Informed Consent
{% endblock %}

{% block content %}

    <p>You have been invited to participate in this activity to understand how people make decisions. The study will be
        carried out by Open Evidence S.A. You must be at least 18 years old to participate.</p>

    <p>If you agree to participate, you will take part on a series of decisions and will have to answer some questions.
        Participation in this activity will require a maximum of one hour of your time. Participating in this activity
        does not involve any risk.</p>

    <p>You will have the possibility of earning a certain amount of money. At the beginning you start with 25 EUR,
        however your earnings may vary depending on your decisions. The payment will be in cash once this activity
        is finished.</p>

    <p>Participation is voluntary and you can leave at any time, but if you leave you will not receive any money.</p>

    <p>The methodology of this study guarantees complete anonymity, the information provided here is absolutely
        confidential and will only be used for statistical purposes. Upon completion of the activity, personal data such
        as name and document number will be removed from the database. All information provided will be treated in
        accordance with the [RELEVANT EU LEGISLATION].</p>

    <p>If there is anything about this study that needs to be clarified, if you want to report any inconvenience or if
        you have doubts about your rights as a participant in this activity or about any other matter, do not hesitate
        to contact [RELEVANT OPEN EVIDENCE CONTACT INFORMATION].</p>

    <p>By signing below, you declare that you have been duly informed and that you participate in this activity on a
        voluntary basis.
    </p>
    <p>
    </p>
    <p>[City, (Date)]
    </p>
    <p>Full name: {{ form.nombre }}
    </p>
    <p>ID number: {{ form.id_number }}
    </p>

<button class="otree-btn-next btn btn-primary next-button otree-next-button">I accept to participate</button>

{% endblock %}

{% block styles  %}
{% endblock %}

