{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Informed Consent
{% endblock %}

{% block content %}

    <p>
        Informed consent text goes here
    </p>
    <p>
    </p>
    <p>Full name: {{ form.nombre }}
    </p>
    <p>National Id number: {{ form.id_number }}
    </p>

<button class="otree-btn-next btn btn-primary next-button otree-next-button">I accept</button>

{% endblock %}

{% block styles  %}
    <link href="{% static "css.css" %}" rel="stylesheet">
{% endblock %}

